# Python-created cache files
**/__pycache__

# Saved actor/critic networks from training
*.pth

# Plots, recorders, replay buffers
*plot_*.jpg
*recorder.npy
*replay*.npz

# VS Code
**/.vscode
# JetBrains folder
.idea/
