<?xml version="1.0"?>
<robot name="foam_brick">
  <link name="foam_brick">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="ycb/061_foam_brick/textured.obj" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.008"/>
      <geometry>
        <box size="0.049 0.074 0.049"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.03"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>
</robot>
