<?xml version="1.0"?>
<robot name="banana">
  <link name="banana">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="ycb/011_banana/textured.obj" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="ycb/011_banana/collision.obj" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.068"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>
</robot>
