<?xml version="1.0"?>
<robot name="box">
  <link name="box">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.4 0.4 0.3"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.4 0.4 0.3"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <friction value="1.0"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0" iyy="1000.0" iyz="0.0" izz="1000.0"/>
    </inertial>
  </link>
</robot>
