<?xml version="1.0"?>
<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>     
        <cylinder length="0.6" radius="3.5"/>       
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.6" radius="3.5"/>
      </geometry>
    </collision>
    <inertial>
      <density value="500.0"/>
    </inertial>
  </link>
</robot>
