<?xml version="1.0"?>
<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/cube_multicolor.obj" scale=".06 .06 .06"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 0.06"/>
      </geometry>
    </collision>
    <inertial>
      <density value="400.0"/>
    </inertial>
  </link>
</robot>
